{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=@site.cover_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title bigger">{{@site.title}}</h1>
    {{#if @site.description}}
    <p class="m-hero-description bigger">{{@site.description}}</p>
    {{/if}}
    {{#if @labs.subscribers}}
    <a href="{{@site.url}}/subscribe" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
    {{#if @labs.members}}
    <a href="{{@site.url}}/newsletter" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
  </div>
  </section>

  <main class="main-section" role="main" id="main-section">
  </main>
</div>
<script type="application/json" id="data-translation">
{
  "t9n":"t9n"
}
</script>